h2{
    color: rgb(219, 153, 153);
    font-size: 20px;
}

h1{
    color: rgb(61, 56, 56);
    text-align: center;
    text-transform: uppercase;
}

.destacado{
    font-weight: bold;
    font-style: italic;
}

p{
    color: rgb(61, 56, 56);
    line-height: 22px;
}

ul{
    color: rgb(219, 153, 153);
}

.arriba{
    background-color: rgb(219, 153, 153);
    width: 800px;
    height: 300px;
}

.arial{
    font-family: Arial;
}
